body {
    background: rgb(149, 187, 193);
      /* background: radial-gradient(
        circle,
        rgb(145, 144, 163) 0%,
        rgb(99, 104, 105) 0%,
        rgb(185, 185, 187) 100%
      ); */
    }
    
    .container {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      max-width: 500px;
      width: 100%;
      margin: auto;
    }
    .container > form {
      width: 30%;
      border: 1px solid #bf9797;
      padding: 20px;
      border-radius: 5px;
      background: rgba(90, 202, 227, 0.878);
      /* height: 80%; */
      justify-items: center;
      align-items: center;
    }
    pre {
      width: 70%;
      color: #fff;
      font-size: larger;
      /* height: 70%; */
    }
    
    button {
      background: #0563b4 !important;
    }
    p {
      color: red;
    }
    
  
    